@media screen and (min-width: 1000px) {
    .Logo-Section {
        @apply flex space-x-2 hover:opacity-80 hover:cursor-pointer;
    }

    .Logo-Style {
        /*Do not apply any styles here*/
    }

    .Logo-Font {
        font-family: 'Poppins', sans-serif;
        font-size: 1.125rem;
        font-weight: 600;
    }
}

/* Media query for screens smaller than the breakpoint */
@media screen and (max-width: 1000px) {
    .Logo-Section {
        @apply flex space-x-2 hover:opacity-80 hover:cursor-pointer;
    }

    .Logo-Style {
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 3px;
    }

    .Logo-Font {
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        margin-top: 3px;
    }


}